* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  position: relative;
  width: 20%;
}
.logo img {
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10em;
  background-color: #c5afc0;
}
.navbar1 {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.links {
  margin-right: 3em;
  display: flex;
  align-items: center;
  gap: 5em;
}
.search {
  margin-left: 30em;
}
.links a {
  list-style: none;
  text-decoration: none;
  color: black;
}
#inscrir {
  background-color: #e6d7e2;
  padding: 0.5em 1em;
  border-radius: 15px;
}
.new {
  padding-top: 3em;
  padding-right: 50em;
  height: 31em;
  background-image: url(../images/5121849.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}
.new h1 {
  text-align: center;
}
.new h2 {
  text-align: center;
}
.new button {
  width: 15em;
  padding: 1em 2em;
  border-radius: 15px;
  border: 0;
  font-size: 1em;
}
